*{
    padding: 0;
    margin: 0;
}
html {
    min-height: 100%;
    position: relative;
    
  }

header{
    width: 100%;
    background-color: black;
    height: 70px;
}

.ancho{
    width: 100%;
    height: 70px;
    margin: auto;
}

@media (max-width: 767px) {
    #videoFondo{
        display: none;
    }
    body{
        background-image: url("../images/poster.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: -10;
        margin: 0;
    }

}

.logo{
    width: 35%;
    height: 85px;
    background-color: black;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo img:hover{
    width: 35%;
    height: 85px;
    transition: all 0.5s;
}

.logo .p .a .img{
    width: 30%;
    height: 40%;
}

nav{
    width: 100%;
    height: 70px;
    background-color: black;
    float: left;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    
}

nav ul li {
    display: inline;
    color:#fff;
}

nav ul li a{
    color: white;
    font-size: 15;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
nav ul li a:hover{
    color: black;
    background-color: rgb(175, 9, 9);
    /*width: 300px;*/
    height: 30px ;
    transition: all .7s;
}


body{
    margin: 0;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#textIndex{
    width: 500px;
    height: 250px;
    background-color: rgba(109, 105, 105, 0.639) ;
    position: relative;
    margin-top: 8vw;
    top: 50%;
    left: 50%;
    border-radius: 5px; 
}

div h1{
    margin-top: 5px;
    margin-left: 3px;
}

div p{
    margin: 5px 10px 5px 10px;
    text-align: justify;
    
}
#videoFondo {
    position:fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.home .carousel-item{
    min-height: 75vh;
    position: relative;
    z-index: 1;
}

.home .carousel-item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: -1;
}

.home .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .carousel-item h2{
    font-size: 60px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}

.home .carousel-item.active h2{
    animation: fadeIzq 0.4s ease forwards;
}

.home .carousel-item h5{
    font-size: 30px;
    color: #bbbbbb;
    margin: 0 0 10px;
    opacity: 0;
}

.home .carousel-item.active h5{
    animation: fadeDer 0.4s ease forwards;
}

@keyframes fadeIzq {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeDer {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


.bandaThom{
    background-image: url('../images/tyorke.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bandaEd{
    background-image: url('../images/eobrian.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bandaPhill{
    background-image: url('../images/pselway.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bandaJhonny{
    background-image: url('../images/jgreendwood.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
}

.bandaCollin{
    background-image: url('../images/cgreenwood.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#fondoDiscografia{
    background-image: url('/images/fondo5.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: black;
}


#album{
    width: 70%;
    height: 430px;
    background-color: rgba(109, 105, 105, 0.639) ;
    position: relative;
    margin-top: 4vw;
    margin-left: 10vw;
    top: 20%;
    /* left: 50%; */
    border-radius: 5px; 
    display: flex;
}

#album p iframe{
    border-radius:12px;
    width: 100% ;
    height: 352px;  
}
.pie-pagina{
    width: 100%;
    background-color: rgb(23, 22, 22);
    position: relative;
    bottom: 0;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: rgb(148, 5, 5);

}
.pie-pagina .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 5px 0px;
}

.pie-pagina .group-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .group-1 .caja figure img{
    width: 60px;  
    height: 60px; 
}

.pie-pagina .group-1 .caja h2{
    color: #000;
    margin-bottom: 5px;
    font-size: 12px;
}

.pie-pagina .group-1 .caja p{
    color: #000;
    margin-bottom: 10px;
    font-size: 12px;
}

.pie-pagina .group-1 .social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 8px;
    background-color: black;
    text-align: center;
    transition: all 200ms ease;
}

.pie-pagina .group-1 .social a:hover{
    color: rgb(148, 5, 5)
}

.pie-pagina .group-2{
    background-color: rgb(23,22,22);
    padding: 5px 3px;
    text-align: center;
    color: #000;
}

.pie-pagina .group-2 small{
    font-size: 13px;
}

.tituloDiscografia{
    color: #fff;
}




