#fondoMedia{
    background-image: url('../images/fondo2.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

.tituloMedia{
    color: rgb(255, 255, 255);
}

div{
    text-align: center;
}

