table{
    margin-top: 50px;
}

.encabezadoTour{
    margin-top: 50px;
    text-align: justify;
    color: #fff;
}
#fondoTour{
    background-image: url('../images/concerts.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color: black;
}