@import "media";
@import "menunav";
@import "piepagina";
@import "discografia";
@import "banda";
@import "tour";

*{
    padding: 0;
    margin: 0;
}
html {
    min-height: 100%;
    position: relative;
    
}

header{
    width: 100%;
    background-color: black;
    height: 70px;
}

.ancho{
    width: 100%;
    height: 70px;
    margin: auto;
}

#textIndex{
    width: 500px;
    height: 250px;
    background-color: rgba(109, 105, 105, 0.75) ;
    position: relative;
    margin-top: 8vw;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    color:#fff;
    border-color: rgba(49, 47, 47, 0.639); 
}

@media (max-width: 767px) {
    #videoFondo{
        display: none;
    }
    body{
        background-image: url("../images/poster.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: -10;
        margin: 0;
    }
    #textIndex{
        width: 80%;
        height: max-content;
        background-color: rgba(109, 105, 105, 0.75) ;
        position: relative;
        margin-top: 8vw;
        top: 50%;
        left: 10%;
        border-radius: 5px;
        color:#fff;
        border-color: rgba(49, 47, 47, 0.639); 
    }
}

.logo{
    width: 35%;
    height: 85px;
    background-color: black;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    img:hover{
        width: 35%;
        height: 85px;
        transition: all 0.5s;
    }
    .p .a .img{
        width: 30%;
        height: 40%;
    }
}

body{
    margin: 0;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    h1{
    margin-top: 5px;
    margin-left: 3px;
    }
    p{
        margin: 5px 10px 5px 10px;
        text-align: justify;
    }
}

#videoFondo {
    position:fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}











